body {
    margin: 2px;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(37, 150, 190)
    ;
    margin-bottom: 4px;
}


#conditions{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(37, 150, 190)
    ;
    margin-bottom: 4px;
}

button {
    background: rgb(37, 150, 190)
    ;
    color: white;
    padding: 10px 20px;
    border: 1px solid rgb(37, 150, 190)
    ;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: rgb(37, 150, 190);
}
